<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
    <% if current_user %>
    <%= current_user.user_name %>
    <form action="<%= session_url %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Log Out">
    </form>
    <%  else  %>
      <a href="<%= new_session_url %>"><button type="button" name="button">Sign In</button></a>
      <a href="<%= new_user_url %>"><button type="button" name="button">Sign Up</button></a>
    <%  end  %>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
